<template>
	<div class="auto-complete" v-click-outside="close">
		<input
			type="text"
			placeholder="Please, enter your name"
			v-model="search"
			@input="onChange"
			@keydown.down="onArrowDown"
			@keydown.up="onArrowUp"
			@keydown.enter="onEnter"
		/>
		<font-awesome-icon icon="spinner" spin v-if="loading" />
		<div class="suggest" v-if="isOpen && suggestionList.length">
			<div class="title">Suggestions :</div>
			<div
				class="item"
				@click="selectSuggestion(item)"
				:class="index == activeSuggest && 'active'"
				v-for="(item, index) in suggestionList"
				:key="index"
			>
				{{ item }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data: () => {
		return {
			search: "",
			activeSuggest: -1,
			isOpen: false,
			timeout: null,
			suggestionList: [],
			items: [
				"shayan",
				"sohila",
				"sara",
				"Ali",
				"morteza",
				"shahin",
				"hengame",
				"amirali",
				"mohadese",
				"babak",
				"adine",
				"atefe",
				"javad",
				"mohammad",
				"mohammadAli",
				"mostofa",
				"zeynab",
				"saghar",
			],
		};
	},
	props: {
		loading: {
			type: Boolean,
			default: false,
		},
	},
	methods: {
		onChange() {
			if (this.search == "") {
				this.isOpen = false;
			} else {
				this.isOpen = true;
				this.submit();
			}
			this.getSuggestion();
		},
		onArrowDown() {
			if (this.activeSuggest < this.suggestionList.length - 1) {
				this.activeSuggest = this.activeSuggest + 1;
			}
		},
		onArrowUp() {
			if (this.activeSuggest > 0) {
				this.activeSuggest = this.activeSuggest - 1;
			}
		},
		onEnter() {
			this.search = this.suggestionList[this.activeSuggest];
			this.activeSuggest = -1;
			this.suggestionList = [];
			this.isOpen = false;
			this.$emit("onSubmit", this.search);
		},
		selectSuggestion(item) {
			this.search = item;
			this.suggestionList = [];
			this.isOpen = false;
			this.$emit("onSubmit", this.search);
		},

		getSuggestion() {
			this.suggestionList = this.items.filter((item) => {
				return (
					item.toLowerCase().indexOf(this.search.toLowerCase()) > -1
				);
			});
		},

		submit() {
			if (this.timeout) {
				clearTimeout(this.timeout);
			}
			this.timeout = setTimeout(() => {
				this.$emit("onSubmit", this.search);
			}, 1000);
		},

		close() {
			this.isOpen = false;
		},
	},
};
</script>

<style lang="css" scoped>
.auto-complete {
	width: 50%;
	height: 40px;
	border-radius: 7px;
	border: 2px solid #ccc;
	position: relative;
	display: flex;
	align-items: center;
	background: #fff;
	padding-right: 10px;
}
.auto-complete input {
	padding: 0px 10px;
	width: 100%;
	height: 100%;
	border: 0px;
	border-radius: 7px;
	outline: none;
}
.suggest {
	background: #fff;
	box-shadow: 0px 0px 5px 2px #00000020;
	border-radius: 7px;
	padding: 10px;
	position: absolute;
	width: 100%;
	top: 100%;
	transform: translateY(10px);
	/* height: 200px; */
	overflow-y: scroll;
}
.suggest .title {
	font-size: 0.9rem;
	font-weight: bold;
	padding: 10px 8px;
}
.suggest .item {
	padding: 10px 8px;
	color: #222;
	cursor: pointer;
	border-bottom: 1px solid #eee;
}
.suggest .item.active,
.suggest .item:hover {
	background: rgba(0, 194, 219, 0.2);
}
</style>
