<template>
	<div class="container">
		<h1>Enter your name</h1>
		<auto-complete @onSubmit="submitForm" :loading="loading" />
		<ul>
			<li v-for="item in lisOfRequests" :key="item.id">{{ item }}</li>
		</ul>
	</div>
</template>

<script>
import AutoComplete from "./components/AutoComplete.vue";
import axios from "axios";
export default {
	data: () => {
		return {
			loading: false,
			lisOfRequests: [],
		};
	},
	components: { AutoComplete },
	methods: {
		async submitForm(search) {
			console.log("Sending request for =", search);
			this.loading = true;
			await axios
				.post("https://jsonplaceholder.typicode.com/posts", {
					search,
				})
				.then((res) => {
					this.lisOfRequests.push(res.data);
				})
				.catch((err) => {});
			this.loading = false;
		},
	},
};
</script>

<style lang="css" scoped>
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3%;
}
li {
	margin-top: 5px;
}
</style>
